@charset "utf-8";
/* CSS Document */
body {
	background-color: #000000;
	background-image: url("../images/galaxy9.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#popup {
	top: 200px;
	left: 50px;
  	width: 700px;
	height: 500px;
	position: absolute;
}

#title {
	top: 50px;
	left: 50px;
  width: 100%;
	height: 250px;
	position: absolute;
}
#image{
	top: 200px;
	left: 900px;
  	width: 500px;
	height: 700px;
	position: absolute;
}

h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #32b2e3;
	font-size: 36pt;
}

h2{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #32b2e3;
	font-size: 30pt;
}

p {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #32b2e3;
}
