@charset "utf-8";
/* CSS Document */
body {
	background-color: #000000;
	background-image: url("../images/galaxy6.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#quiz {
	top: 200px;
	left: 50px;
  width: 2000px;
	height: 500px;
	font-family:"Fh_Space";
	font-size: 18pt;
	position: absolute;

}

#image{
	top: 100px;
	left: 1400px;
	width: 1600px;
	height: 500px;
	position: absolute;
}
#title {
	left: 50px;
  width: 1200px;
	height: 100px;
	position: absolute;
}


img{

	margin-right: 20%;
}

h1{

	font-size: 40pt;
	font-family: "Spacecard" ;
}

p {
	font-size: 25pt;
	font-family:"Fh_Space";
}

@font-face {
    font-family:"Fh_Space";
    src:url(../fonts/Fh_Space.otf);
}

@font-face {
    font-family:"Spacecard";
    src:url(../fonts/Spacecard.ttf);
}
