@charset "utf-8";
/* CSS Document */
body {
	background-color: #000000;
	background-image: url("../images/galaxy9.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#popup {
	top: 1250%;
	left: 312.5%;
  width: 4375%;
	height: 3125%;
	position: absolute;
}

#title {
	top: 1250%;
	left: 312.5%;
  width: 100%;
	height: 1562.5%;
	position: absolute;
}
#image{
	top: 1250%;
	left: 5625%;
  width: 3125%;
	height: 4375%;
	position: absolute;
}

h1{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #32b2e3;
	font-size: 40pt;
}

h2{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #32b2e3;
	font-size: 30pt;
}

p {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #32b2e3;
}
