@charset "utf-8";
/* CSS Document */
body {
	background-color: #000000;
	background-image: url("../images/background.jpg");

	background-repeat: no-repeat;
	background-size: 100%;
}

#quiz {
	top: 35%;
	left: 15%;
  width: 12500%;
	height: 3125%;
	font-family:"Fh_Space";
	font-size: 18pt;
	color: white;
	position: absolute;

}

#image{
	top: 1%;
	left: 60%;
	width: 80%;
	height: 500px;
	position: absolute;
}

a{
	color: white;
	font-family:"Fh_Space";
	font-size: 18pt;
	text-decoration: none;
}
#title {
	left: 15%;
	top: 20%;
  width: 7500%;
	height: 625%;
	position: absolute;
}

#middle{
	left: 25%;
	width: 50%;
	height: 50%;
	top: 30%;
	background-color: red;
	position: absolute;
}

#button{
	left: 50%;
	width: 15%;
	height: 20%;
	top: 30%;
	/*position:relative;*/
}

img{

	/*margin-right: 20%;*/
}

h1{

	font-size: 40pt;
	font-family: "SM" ;
	color: white;
}

p {
	font-size: 25pt;
	font-family:"Fh_Space";
	color: white;
}

@font-face {
    font-family:"Fh_Space";
    src:url(../fonts/Fh_Space.otf);
}
@font-face {
    font-family:"SM";
    src:url(../fonts/SM.TTF);
}

@font-face {
    font-family:"Spacecard";
    src:url(../fonts/Spacecard.ttf);
}

.btn {
  background: #e61515;
  background-image: -webkit-linear-gradient(top, #e61515, #eb8a8a);
  background-image: -moz-linear-gradient(top, #e61515, #eb8a8a);
  background-image: -ms-linear-gradient(top, #e61515, #eb8a8a);
  background-image: -o-linear-gradient(top, #e61515, #eb8a8a);
  background-image: linear-gradient(to bottom, #e61515, #eb8a8a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 175%;
  font-family: Courier New;
  color: #ffffff;
  font-size: 30px;
	padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #9e0505);
  background-image: -moz-linear-gradient(top, #ff0000, #9e0505);
  background-image: -ms-linear-gradient(top, #ff0000, #9e0505);
  background-image: -o-linear-gradient(top, #ff0000, #9e0505);
  background-image: linear-gradient(to bottom, #ff0000, #9e0505);
  text-decoration: none;
}
